<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<title>Studio 95 Barbers</title>
	<meta name="robots" content="index, follow" />
	<meta name="description" content="Barbero Barber Salon HTML Template has a unique and modern looking design that will make your clients love your website." />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<link rel="canonical" href="Replace_with_your_PAGE_URL" />

	<!-- Stylesheets -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/scroll.css" rel="stylesheet">

	<!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
	<!-- <meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Barbero - HTML Bootstrap Template" />
	<meta property="og:url" content="PAGE_URL" />
	<meta property="og:site_name" content="SITE_NAME" /> -->
	<!-- For the og:image content, replace the # with a link of an image -->
	<!-- <meta property="og:image" content="#" />
	<meta property="og:description" content="Barbero HTML Bootstrap Template" /> -->

	<!-- Fonts -->
	<link
		href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Karla:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">

	<!-- Add site Favicon -->
	<link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
	<link rel="icon" href="../images/favicon.png" type="image/x-icon">
	<meta name="msapplication-TileImage" content="../images/favicon.png" />

</head>

<body>

	<div class="page-wrapper">

		<!-- Main Header / Header Style Two -->
		<header class="main-header header-style-two" id="mainHeader">

			<!--Header-Upper-->
			<div class="header-upper">
				<div class="auto-container">
					<div class="clearfix">

						<div class="pull-left logo-box">
							<div class="logo"><img src="../images/black_logo.png" alt="" title=""></a></div>
						</div>

						<div class="nav-outer clearfix">
							<!-- Mobile Navigation Toggler -->
							<div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
							<!-- Main Menu -->
							<nav class="main-menu navbar-expand-md">
								<div class="navbar-header">
									<button class="navbar-toggler" type="button" data-toggle="collapse"
										data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
										aria-label="Toggle navigation">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>

								<div class="navbar-collapse show collapse clearfix" id="navbarSupportedContent">
									<ul class="navigation left-nav clearfix">
										<li><a href="/admin">Admin</a></li>
									</ul>

									<ul class="navigation right-nav clearfix">
										<li><a href="/login/logged-out">Log Out</a></li>
									</ul>

								</div>

							</nav>

						</div>

					</div>
				</div>
			</div>
			<!--End Header Upper-->

			<!-- Mobile Menu  -->
			<div class="mobile-menu">
				<div class="menu-backdrop"></div>
				<div class="close-btn"><span class="icon lnr lnr-cross"></span></div>

				<nav class="menu-box">
					<div class="nav-logo"><a href="/home"><img src="../images/black_logo.png" alt="" title=""></a></div>
					<div class="menu-outer">
						<!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
					</div>
				</nav>
			</div><!-- End Mobile Menu -->

		</header>
		<!--End Main Header -->

		<!-- Create Employee Section -->
		<section class="reservation-section style-two">
            <div class="page-title-section extra-pad-bottom">
                <div class="auto-container">
					<div class="section-title centered">
						<h2>Create Employee</h2>
					</div>
					
					<div class="row create-emp-content">
						

						<div class="column col-lg-6 col-md-12 col-sm-12 grid-emp-display">
							
							<div class="inner-container">
								<!-- Reservation Form -->
								<div class="reservation-form contact-form">
									<!-- Contact Form -->
									<form method="post" action="/admin">
										<div class="row clearfix">
											<div class="col-lg-12 col-md-6 col-sm-12 form-group" style="width: 200%;">
												<input type="text" name="newFirstName" placeholder="Name">
											</div>

											<div class="col-lg-12 col-md-6 col-sm-12 form-group" style="width: 200%;">
												<input type="text" name="newUsername" placeholder="Username" id="usernameInput">
											</div>
			
											<div class="col-lg-12 col-md-6 col-sm-12 form-group" style="width: 200%;">
												<input type="password" name="newPassword" placeholder="Password">
											</div>

											<div class="col-lg-12 col-md-6 col-sm-12 form-group" style="width: 200%;">
												<input type="text" name="newEmpID" placeholder="Employee ID">
											</div>
											
											<div class="col-lg-12 col-md-12 col-sm-12 text-center form-group" style="margin-bottom: -15px;">
												<button class="theme-btn btn-style-three" type="submit" name="submit-form"><span class="txt">Add</span></button>
											</div>
											
											<div class="col-lg-12 col-md-6 col-sm-12 form-group delete" style="width: 200%; margin-top: 75px;">
												
											</div>

											<div class="col-lg-12 col-md-6 col-sm-12 form-group" style="width: 200%;">
												<input type="password" name="deletePassword" placeholder="Password of Employee">
											</div>

											<div class="col-lg-12 col-md-12 col-sm-12 text-center form-group" style="margin-bottom: -15px;">
												<button class="theme-btn btn-style-four" type="submit" name="delete-form"><span class="txt">Delete</span></button>
											</div>
											
			
										</div>
									</form>
								</div>
								<!-- End Reservation Form -->
							</div>
						</div>

						<div class="column col-lg-6 col-md-12 col-sm-12">

							<div class="emp-block">
								<div class="inner-box">
									<div class="emp-info-header">Name</div>
									<div class="emp-info-header">Username</div>
									<div class="emp-info-header">Password</div>
									<div class="emp-info-header">Emp ID</div>
								</div>
							</div>

							<% empData.forEach(function(employee) { %>
							<div class="emp-block">
								<div class="inner-box-info">
									<div class="emp-info"><%= employee.first_name %></div>
									<div class="emp-info"><%= employee.username %></div>
									<div class="emp-info"><%= employee.password %></div>
									<div class="emp-info"><%= employee.emp_id %></div>
								</div>
							</div>
							<% }); %>

						</div>

					</div>
                </div>
            </div>
		</section>
		<!-- End Create Employee Section -->


		<!-- Appointments Section -->
		<section class="services-section">
			<div class="auto-container">
				<div class="section-title centered">
					<h2 id="services">Current Appointments</h2>
				</div>
				<div class="row create-emp-content">
						
					<div class="remove-appointment-container">
						<div class="inner-container-remove-appts">
							<!-- Cancellation Form -->
							<div class="reservation-form contact-form">
								<!-- Form -->
								<form method="post" action="/admin">
									<div class="row clearfix">
										<div class="col-lg-12 col-md-6 col-sm-12 form-group" style="width: 200%;">
											<input type="text" name="cancelAppointmentID" placeholder="Appointment ID" class="remove-appt-id" required>
										</div>

										<div class="col-lg-12 col-md-12 col-sm-12 text-center form-group" style="margin-bottom: -15px;">
											<button class="theme-btn btn-style-five" type="submit" name="submit-form"><span class="txt">Cancel Appointment</span></button>
										</div>
		
									</div>
								</form>
		
							</div>
							<!-- End Cancellation Form -->
		
						</div>
					</div>
					
					<div class="column col-lg-12 col-md-12 col-sm-12">
						<% if (customerData.length === 0) { %>
							<div class="no-appointment">
								Schedule is currently empty...
							</div>
							<br>
							<br>
							<br>
						<% } else { %>
							<% const sortedCustomerData = customerData.sort((a, b) => {
								const dateA = new Date(a.date + ' ' + a.time);
								const dateB = new Date(b.date + ' ' + b.time);
								
								return dateA - dateB;
							}); %>
							<% sortedCustomerData.forEach(function(customer) { %>
							<div class="cust-block">
								
								<div class="cust-container">
									<div class="cust-info-header">ID</div>
									<div class="cust-info"><%= customer.id %></div>
								</div>

								<div class="cust-container">
									<div class="cust-info-header">Name</div>
									<div class="cust-info"><%= customer.name %></div>
								</div>

								<div class="cust-container">
									<div class="cust-info-header">Email</div>
									<div class="cust-info"><%= customer.email %></div>
								</div>

								<div class="cust-container">
									<div class="cust-info-header">Phone</div>
									<div class="cust-info"><%= customer.phone %></div>
								</div>

								<div class="cust-container">
									<div class="cust-info-header">Barber</div>
									<div class="cust-info"><%= customer.barber %></div>
								</div>

								<div class="cust-container">
									<div class="cust-info-header">Date</div>
									<div class="cust-info"><%= customer.date %></div>
								</div>

								<div class="cust-container">
									<div class="cust-info-header">Time</div>
									<div class="cust-info"><%= customer.time %></div>
								</div>

							</div>
							<br>
							<br>
							<br>
							<% }); %>
						<% } %>
					</div>

				</div>
			</div>
		</section>
		<!-- End Appointments Section -->

		<!-- Schema Section -->
		<!-- <section class="reservation-section style-three">
            <div class="page-title-section style-two extra-pad-bottom">
                <div class="auto-container">
					<div class="section-title centered">
						<h2>Add Service</h2>
					</div>
					
					<div class="row create-emp-content">
						<div class="column col-lg-6 col-md-12 col-sm-12 grid-emp-display">
							
							<div class="inner-container"> -->
								<!-- Reservation Form -->
								<!-- <div class="reservation-form contact-form"> -->
									<!-- Contact Form -->
									<!-- <form method="post" action="/admin" enctype="multipart/form-data">
										<div class="row clearfix">
											<div class="col-lg-6 col-md-6 col-sm-12 form-group" style="width: 200%;">
												<input type="text" name="serviceTitle" placeholder="Title">
											</div>

											<div class="col-lg-6 col-md-6 col-sm-12 form-group" style="width: 200%;">
												<input type="file" name="serviceImage" accept="image/png, image/jpeg">
											</div>
											
											<div class="col-lg-12 col-md-6 col-sm-12 form-group" style="width: 200%;">
												<input type="text" name="serviceDescription" placeholder="Description">
											</div>

											<div class="col-lg-12 col-md-6 col-sm-12 form-group" style="width: 200%;">
												<input type="text" name="servicePrice" placeholder="Price">
											</div>

											<div class="col-lg-12 col-md-6 col-sm-12 form-group" style="width: 200%;">
												<input type="text" name="serviceSecondaryDescription" placeholder="Secondary Description">
											</div>

											<div class="col-lg-12 col-md-12 col-sm-12 text-center form-group" style="margin-bottom: -15px;">
												<button class="theme-btn btn-style-three" type="submit" name="submit-form"><span class="txt">Add</span></button>
											</div>
											
											<div class="col-lg-12 col-md-6 col-sm-12 form-group delete" style="width: 200%; margin-top: 75px;">
												
											</div>

											<div class="col-lg-12 col-md-6 col-sm-12 form-group" style="width: 200%;">
												<input type="text" name="serviceID" placeholder="Service ID">
											</div>

											<div class="col-lg-12 col-md-12 col-sm-12 text-center form-group" style="margin-bottom: -15px;">
												<button class="theme-btn btn-style-four" type="submit" name="delete-form"><span class="txt">Delete</span></button>
											</div>
											
			
										</div>
									</form> -->
								<!-- </div> -->
								<!-- End Reservation Form -->
							<!-- </div> -->
						<!-- </div> -->

					

					<!-- </div>
                </div>
            </div>
		</section> -->
		<!-- End Schema Section -->

		

		<!-- Main Footer -->
		<footer class="main-footer" style="background-image: url(../images/background/8.jpg); ">
			<div class="auto-container">
				<!--Widgets Section-->
				<div class="widgets-section">
					<div class="row clearfix">

						<!-- Footer Column -->
						<div class="footer-column col-lg-4 col-md-6 col-sm-12">
							<div class="footer-widget office-widget">
								<h4>contact</h4>
								<ul class="location-list">
									<li>3020 Reflection Drive #106 <br>Naperville, IL 60564 <br> United States</li>
									<li><a href="mailto:info@studio-95-barbers.com">info@studio-95-barbers.com</a></li>
									<li><a href="tel:6304209555">(630) 420-9555</a></li>
								</ul>

								<!-- Social Box -->
								<ul class="social-box">
									<li><a href="https://twitter.com/barbersupscale" class="icofont-twitter"></a></li>
									<li class="facebook"><a href="https://www.facebook.com/Studio95Barbers" class="icofont-facebook"></a></li>
									<!-- <li class="instagram"><a href="https://www.instagram.com/" class="icofont-instagram"></a></li> -->
								</ul>
							</div>
						</div>

						<!-- Footer Column -->
						<div class="footer-column col-lg-4 col-md-12 col-sm-12">
							<div class="footer-widget logo-widget">
								<div class="logo">
									<a href="/home"><img src="../images/main-slider/white_logo.png" alt="" /></a>
								</div>
							</div>
						</div>

						<!-- Footer Column -->
						<div class="footer-column col-lg-4 col-md-6 col-sm-12">
							<div class="footer-widget twitter-widget">
								<h4>hours</h4>
								<div class="tweet">
									Mon:<div class="post-date">Closed</div>
									<br>
									Tues-Fri:<div class="post-date">10am-4pm</div>
									<br>
									Sat:<div class="post-date">8am-4pm</div>
									<br>
									Sun:<div class="post-date">11am-4pm</div>
									<br>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="auto-container">
					<div class="copyright">
						<p class="copyright">
							© 2023 <strong>Studio 95</strong> Made 
							<!-- with <i class="icofont-heart text-danger" aria-hidden="true"></i>  -->
							by 
							<!-- <a href=""> -->
							<strong>Andrew Catoiu</strong>
							<!-- </a> -->
						</p>
					</div>
				</div>
			</div>
		</footer>

	</div>
	<!--End pagewrapper-->

	<!-- Success Popup -->
	<!-- Modal -->
	<div id="successModalContainer">
		<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true" style=>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="successModalLabel">Invalid Login Information</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p id="errorMessage"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Scroll To Top -->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/jquery.fancybox.js"></script>
	<script src="js/appear.js"></script>
	<script src="js/owl.js"></script>
	<script src="js/wow.js"></script>
	<script src="js/validate.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/script.js"></script>
	<script src="js/preventFragments.js"></script>
	<script src="js/aboutFragments.js"></script>
	<script src="js/scrollRefresh.js"></script>

</body>

</html>